.coronaInfo {
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#0028ff), to(#fff));
  background: linear-gradient(to bottom, #0028ff, #fff);
  position: absolute;
  top: 35px;
  left: 250px;
  width: calc(100% - 250px);
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  padding: 40px 25px;
}

.coronaInfo h1 {
  color: #0779e4;
  font-size: 37px;
  font-weight: 500;
}

.coronaInfo h3 {
  color: #252525;
  font-size: 20px;
}

.coronaInfo p {
  font-size: 20px;
}

.coronaInfo .detail {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
}

.coronaInfo .detail a {
  font-size: 15px;
  color: #0779e4;
}

.coronaInfo .detail ul {
  margin-left: 25px;
}

.coronaInfo .detail ul li {
  font-size: 18px;
  margin: 5px 0;
}

.coronaInfo .detail .symptomsContainer div {
  margin-bottom: 15px;
  color: #252525;
}

.coronaInfo .detail .symptomsContainer .symptoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coronaInfo .detail .symptomsContainer .symptoms .symptom {
  width: 33%;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
  .coronaInfo {
    left: 0;
    width: 100%;
  }
  .coronaInfo h1 {
    font-size: 34px;
  }
  .coronaInfo h3 {
    font-size: 18px;
  }
  .coronaInfo p {
    font-size: 17px;
  }
  .coronaInfo .detail .symptomsContainer .symptoms .symptom {
    width: 49%;
  }
  .coronaInfo .detail .symptomsContainer .symptoms .symptom ul li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .coronaInfo .detail .symptomsContainer .symptoms .symptom {
    width: 100%;
  }
}

.liveNews {
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#0028ff), to(#fff));
  background: linear-gradient(to bottom, #0028ff, #fff);
  position: absolute;
  top: 35px;
  left: 250px;
  width: calc(100% - 250px);
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  padding: 40px 25px;
}

.liveNews .news {
  margin-bottom: 35px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
}

.liveNews .news h1 {
  color: #252525;
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.liveNews .news .videoContainer {
  height: 500px;
}

@media only screen and (max-width: 1000px) {
  .liveNews {
    left: 0;
    width: 100%;
  }
  .liveNews .news h1 {
    font-size: 23px;
  }
}

.relatedSites {
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#0028ff), to(#fff));
  background: linear-gradient(to bottom, #0028ff, #fff);
  position: absolute;
  top: 35px;
  left: 250px;
  width: calc(100% - 250px);
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  padding: 40px 25px;
}

.relatedSites h1 {
  color: #fff;
  margin-bottom: 15px;
}

.relatedSites h3 {
  font-size: 28px;
}

.relatedSites .sites {
  height: auto;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

.relatedSites .sites ul {
  margin-left: 35px;
  margin-top: 10px;
}

.relatedSites .sites ul li {
  margin: 25px 0;
  font-size: 25px;
}

.relatedSites .sites ul li a {
  display: inline;
  color: #0779e4;
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .relatedSites {
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .relatedSites h1 {
    font-size: 30px;
  }
  .relatedSites h3 {
    font-size: 24px;
  }
  .relatedSites .sites ul {
    margin-top: 0px;
    margin-left: 25px;
  }
  .relatedSites .sites ul li {
    font-size: 20px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 450px) {
  .relatedSites .sites ul li {
    font-size: 15px;
  }
}
/*# sourceMappingURL=Info.css.map */