* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jura", sans-serif;
  font-family: "Manrope", sans-serif;
}

// GLOBAL
$theme-color: #0779e4;
$darker-theme: #0779e4;
$base-color: #888888;
$dark-color: #252525;
$light-color: rgba(255, 255, 255, 0.5);

button {
  transition: 0.4s ease-in-out all;
  background: none;
  border: none;
  font-size: 20px;
  color: $base-color;
  cursor: pointer;

  &:hover {
    color: $theme-color;
  }

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  transition: 0.2s ease-in-out all;
  display: block;
  color: $base-color;

  &:hover {
    color: $theme-color;
  }
}

// HEADERS
h1 {
  font-size: 45px;
}
h4 {
  font-size: 17px;
}
p {
  font-size: 18px;
}
// @SUBNAV: CLOSING SUBNAV
.closeSubNav {
  left: -250px !important;
}
// @SUBNAV: SHOWING CURRENT PAGE
.currentPage {
  color: $theme-color !important;
  font-weight: 600;
}
// @FOR ALL PAGES: EXTENDING WIDTH WHEN NO SUBNAV
.noSubNav {
  left: 0 !important;
  width: 100% !important;
}

// NAV
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #fff;
  box-shadow: 1px 1px 3px $base-color;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  z-index: 101;

  .navLeft {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
    justify-content: space-between;

    .logo {
      font-size: 24px;
      font-weight: 700;
      color: $dark-color;
    }
  }
}

// SUB NAV
.subNav {
  position: fixed;
  width: 250px;
  height: calc(100vh - 50px);
  top: 50px;
  padding: 50px 25px;
  left: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 1px 1px 5px $base-color;
  transition: 0.4s ease-in-out all;

  .dashboard,
  .relatedInfo {
    margin-bottom: 30px;
    width: 100%;

    h4 {
      margin-bottom: 15px;
    }
    .selection {
      display: flex;
      flex-direction: column;

      a {
        margin: 10px 0;
        color: $base-color;

        i {
          margin-right: 10px;
        }

        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .aboutMe {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    font-size: 15px;

    span {
      display: block;
    }
  }
}

// MAIN
.main {
  height: auto;
  background: $theme-color;
  position: absolute;
  top: 50px;
  left: 250px;
  width: calc(100% - 250px);
  transition: 0.4s ease-in-out all;
  padding: 50px 25px;

  .intro {
    margin-bottom: 35px;
    width: 100%;

    h1 {
      color: #fff;
    }

    p {
      color: $light-color;
      margin-bottom: 10px;
    }

    span {
      display: block;
      color: $light-color;
      font-size: 18px;
    }

    .subIntro {
      font-size: 14px;
      margin-left: 5px;
      margin-top: 3px;
    }
  }

  .graphs {
    background: $theme-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .lineGraph,
    .barGraph {
      height: auto;
      width: 49%;
      background: #fff;
      border-radius: 15px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .header {
        width: 100%;
        height: 55px;
        background: rgba(0, 0, 0, 0.03);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;

        h4 {
          color: $darker-theme;
        }
      }

      .graphContainer {
        width: 100%;
        padding: 15px;
      }
    }
  }

  .korea {
    height: 100px;
    background: blue;
    position: absolute;
    top: 50px;
    left: 250px;
    width: calc(100% - 250px);
    transition: 0.4s ease-in-out all;
  }

  .world {
    height: 100px;
    background: green;
    position: absolute;
    top: 50px;
    left: 250px;
    width: calc(100% - 250px);
    transition: 0.4s ease-in-out all;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    left: 0;
    width: 100%;
  }

  .darkBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 767px) {
  .main {
    padding: 40px 15px;
    .intro {
      h1 {
        font-size: 38px;
      }

      p {
        font-size: 15px;
      }

      span {
        font-size: 15px;
      }

      .subIntro {
        font-size: 13px;
      }
    }
    .graphs {
      .lineGraph,
      .barGraph {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
