* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Jura", sans-serif;
  font-family: "Manrope", sans-serif;
}

button {
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  background: none;
  border: none;
  font-size: 20px;
  color: #888888;
  cursor: pointer;
}

button:hover {
  color: #0779e4;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  display: block;
  color: #888888;
}

a:hover {
  color: #0779e4;
}

h1 {
  font-size: 50px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

.closeSubNav {
  left: -250px !important;
}

.currentPage {
  color: #0779e4 !important;
  font-weight: 600;
}

.noSubNav {
  left: 0 !important;
  width: 100% !important;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px #888888;
          box-shadow: 1px 1px 3px #888888;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  z-index: 101;
}

.nav .navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .navLeft .logo {
  font-size: 24px;
  font-weight: 700;
  color: #252525;
}

.subNav {
  position: fixed;
  width: 250px;
  height: calc(100vh - 50px);
  top: 50px;
  padding: 50px 25px;
  left: 0;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px #888888;
          box-shadow: 1px 1px 5px #888888;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}

.subNav .dashboard,
.subNav .relatedInfo {
  margin-bottom: 30px;
  width: 100%;
}

.subNav .dashboard h4,
.subNav .relatedInfo h4 {
  margin-bottom: 15px;
}

.subNav .dashboard .selection,
.subNav .relatedInfo .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subNav .dashboard .selection a,
.subNav .relatedInfo .selection a {
  margin: 10px 0;
  color: #888888;
}

.subNav .dashboard .selection a i,
.subNav .relatedInfo .selection a i {
  margin-right: 10px;
}

.subNav .dashboard .selection a:hover,
.subNav .relatedInfo .selection a:hover {
  color: #0779e4;
}

.subNav .aboutMe {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eeeeee;
  font-size: 15px;
}

.subNav .aboutMe span {
  display: block;
}

.main {
  height: auto;
  background: #0779e4;
  position: absolute;
  top: 50px;
  left: 250px;
  width: calc(100% - 250px);
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  padding: 50px;
}

.main .intro {
  margin-bottom: 35px;
  width: 100%;
}

.main .intro h1 {
  color: #fff;
}

.main .intro p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.main .intro span {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.main .intro .subIntro {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 3px;
}

.main .graphs {
  background: #0779e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main .graphs .lineGraph,
.main .graphs .barGraph {
  height: auto;
  width: 49%;
  background: #fff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .graphs .lineGraph .header,
.main .graphs .barGraph .header {
  width: 100%;
  height: 55px;
  background: rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.main .graphs .lineGraph .header h4,
.main .graphs .barGraph .header h4 {
  color: #0779e4;
}

.main .graphs .lineGraph .graphContainer,
.main .graphs .barGraph .graphContainer {
  width: 100%;
  padding: 30px 15px;
}

.main .korea {
  height: 100px;
  background: blue;
  position: absolute;
  top: 50px;
  left: 250px;
  width: calc(100% - 250px);
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}

.main .world {
  height: 100px;
  background: green;
  position: absolute;
  top: 50px;
  left: 250px;
  width: calc(100% - 250px);
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}
/*# sourceMappingURL=App.css.map */